<%- include('partials/header') %>
<h1>Create a post</h1>
<form class="" action="/posts" method="post">
  <label>Title</label>
  <input class='form-control' type="text" name="title" value='<%= title %>'>
  <label>Content</label>
  <textarea class='form-control' name="content" rows="8" cols="80"><%= content %></textarea>
  <button class='btn btn-primary' type="submit" name="button">Create</button>
</form>
<%- include('partials/footer') %>
