<%- include('partials/header') %>
<h1>Welcome to my mini blog!</h1>
<p class='intro-text'>In this simple web app, you can explore posts, create posts, make comments, star posts and comments,
  and follow favourite authors! Let's login to get started!<br><a class='btn btn-primary btn-login' href='/login'>Login</a></p>
<p class='intro-text'>Don't have an account yet? Register now!<br><a class='btn btn-info btn-login' href='/register'>Register</a></p>

<%- include('partials/footer') %>
