<%- include('partials/header') %>
<h1>Welcome to my mini blog!</h1>
<p>In this simple web app, you can explore posts, create posts, make comments, star posts and comments,
  and follow favourite authors! Let's login to get started!</p>
<a class='btn btn-primary' href='/login'>Login</a>
<p>Don't have an account yet? Register now!</p>
<a class='btn btn-info' href='/register'>Register</a>

<%- include('partials/footer') %>
